/*  MAIN PAGE LAYOUT STYLES  */

.main_title {
  text-align: center;
}

h3, h2 {
  color: #707070;
  font-family: "Arial", sans-serif;
  margin-left: 20px;
  margin-top: 20px;
  display: inline-block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 15px;
}

.box {
  flex: 0 0 30%;
  height: 125px;
  border: 2px solid #EEEEEE;
  border-radius: 10px;
  cursor: pointer;
}

.box:hover {
  background-color: #DEDEDE;
}

.info {
  display: inline-block;
  text-align: left;
}

.name,
.modal_name {
  color: #707070;
}

.location,
.name {
  text-transform: capitalize;
}

.email,
.location {
    font-family: "Arial", sans-serif;
    color: #C2C2C2;
    margin-left: 19px;
    margin-top: -10px;
}

.search_bar {
  text-align: center;
  font-family: "Arial", sans-serif;
  color: grey;
}

img {
  border-radius: 100%;
  float: left;
  padding: 5px;
  margin-top: 20px;
  margin-left: 15px;
}

.disabled {
  pointer-events: none;
}

.overlay {
  background-color: lightgrey;
}


/* <-------------- MODAL STYLES -----------------> */

.close {
  float: right;
}

.close:hover {
  cursor: pointer;
}

.arrow_buttons {
  text-decoration: none;
  text-align: center;
  padding-top: 30px;
}

.prev {
  float: left;
}

.next {
  float: right;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 495px;
  width: 400px;
  padding: 5px 30px 5px 30px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: white;
}

.modal_details {
  text-align: center;
  display: block;
  text-transform: capitalize;
  font-family: "Arial", sans-serif;
  color: #C2C2C2;
}

.modal_email {
  text-transform: lowercase;
}

.pic_wrap {
  text-align: center;
}

.modal_img {
  float: none;
}
