/*  LAYOUT STYLES  */

h3 {
  color: #707070;
  font-family: "Arial", sans-serif;
  margin-left: 20px;
  margin-top: 20px;
  display: inline-block;
}

.container {
  padding: 5px 5px 5px 5px; /*?*/
  /* margin-left: .5em;
  margin-right: .5em; */
}

.box {
  width: 420px;
  height: 125px;
  display: inline-block;
  border: 2px solid #EEEEEE;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  cursor: pointer;
}
.box:hover {
  background-color: #DEDEDE;
}

.info {
  display: inline-block;
  text-align: left;
}

.name,
.modal_name {
  color: #707070;
}

.location,
.name {
  text-transform: capitalize;
}

.email,
.location {
    font-family: "Arial", sans-serif;
    color: #C2C2C2;
    margin-left: 19px;
    margin-top: -10px;
}

label {
  font-family: "Arial", sans-serif;
  color: grey;
  display: inline-block;
  margin-left: 595px;
}

#search {
  margin-left: 7px;
}

.button {
  cursor: pointer;
}

img {
  border-radius: 100%;
  float: left;
  padding: 5px;
  margin-top: 20px;
  margin-left: 15px;
}


.disabled {
  pointer-events: none;
}

.overlay {
  background-color: lightgrey;
}


/* <-------------- MODAL STYLES -----------------> */

.close {
  float: right;
}

.close:hover {
  cursor: pointer;
}

.arrow_buttons {
  text-decoration: none;
  text-align: center;
  border: 5px solid black;
  padding-top: 10px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 495px;
  width: 380px;
  padding: 5px 30px 5px 30px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: white;
}

.modal_details {
  text-align: center;
  display: block;
  text-transform: capitalize;
  font-family: "Arial", sans-serif;
  color: #C2C2C2;
}

.pic_wrap {
  text-align: center;
}

.modal_img {
  float: none;
}
